/*************************************Imports********************************/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/*************************************Custom Properties********************************/
:root {
    --light-grey : #c0bdbd;
    --bg-gradient-start : #7F00FF;
    --bg-gradient-end: #E100FF;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Style Script', cursive;
}

input {
  outline-width: 0;
}

.App{
  height: 100vh;
}

/******************************Auth************************/

.auth-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, var(--bg-gradient-start), var(--bg-gradient-end));
}

.auth-box{
  display: flex;
  width: 75%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
}

.auth-creds-sec
{
  flex-grow: 2;
  flex-basis: 60%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid black;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.auth-anim-sec{
  flex-grow: 1;
  flex-basis: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.auth-creds-sec h1 {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  font-size: 40px;
}

.auth-creds-sec h3 {
  text-align: center;
  margin-top: 60px;
  color: #4b4a4a;
}

.auth-creds-sec form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-creds-sec input {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.auth-creds-sec input:focus{
  border: 0px;
  border-left: 4px solid var(--bg-gradient-start);
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.invalid-input {
  border-left: 4px solid red;
}

.error-messages {
  margin-top: 40px;
}

.error-message {
  text-align: center;
  color: red;
  font-style: italic;
}

.auth-creds-sec form button {
  margin-top: 32px;
  padding: 20px 40px 20px 40px;
  font-size: 16px;
  background-color: var(--bg-gradient-start);
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}

.auth-creds-sec form button:focus {
  transform: scale(1.1);
}

/******************************User Profile************************/
.user-profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, var(--bg-gradient-start), var(--bg-gradient-end));
}

.profile-box {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  height: 90%;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
}

.profile-box h2 {
  text-align: center;
  color: grey;
  margin-top: 4px;
}

.user-pic {
  align-self: center;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px var(--bg-gradient-start);
}

#profile_pic {
  margin-top: 20px;
  padding-left: 50px;
}


.profile-box > button {
  margin-top: 20px;
  align-self: center;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  background-color: var(--bg-gradient-start);
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}

.profile-box form {
  margin-top: 20px;
}

.profile-box form label {
  display: block;
  margin-top: 20px;
  font-size: 28px;
  color: gray;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.profile-box form input {
  display: block;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 20px;
}

.profile-box input:focus{
  border: 0px;
  border-left: 4px solid var(--bg-gradient-start);
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.profile-box form > div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.profile-box form select {
  font-size: 16px;
  border: 2px solid grey;
}

.profile-box form select:focus {
  border: 2px solid var(--bg-gradient-start);
}

.profile-box form > button {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  padding: 20px 40px 20px 40px;
  font-size: 12px;
  background-color: var(--bg-gradient-start);
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}

.profile-box button:hover {
  transform: scale(1.1);
}

.loading-spinner {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border-top: 3px solid #7F00FF;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(1360deg);}
}

/******************************New Poll************************/
.new-poll {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, var(--bg-gradient-start), var(--bg-gradient-end));
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-poll-box {
  width: 50%;
  height: 60%;
  margin: auto;
  background-color: white;
  color: grey;
  border-radius: 20px;
  padding: 1%;
  overflow-y: auto;
}

.new-poll-box form {
  margin-top: 20px;
}

.new-poll-box input {
  display: block;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 20px;
  width: 100%; 
}

.new-poll-box form > button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  background-color: var(--bg-gradient-start);
  color: white;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
}

.new-poll-box form > button:hover {
  transform: scaleY(1.1);
}

.new-poll-option {
  display: flex;
}

.new-poll-option > button {
  flex-basis: 10%;
  flex-grow: 1;
  border: 0;
  background-color: transparent;
}

.new-poll-option > button:hover {
  transform: scale(1.1);
}

#new-option-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#new-option-btn {
  border-radius: 50%;
  padding: 4px;
}

#new-option-btn:hover {
  transform: scale(1.1);
}

.box-title-bar {
  display: flex;
}

.box-title-bar > button {
  flex-basis: 10%;
  flex-grow: 1;
  background-color: var(--bg-gradient-start);
  color: white;
  border: 0;
}

.box-title-bar > h1 {
  flex-basis: 80%;
  flex-grow: 2;
  text-align: center;
}

.box-title-bar > div {
  flex-basis: 10%;
  flex-grow: 1;
}

/******************************Poll************************/
.poll {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, var(--bg-gradient-start), var(--bg-gradient-end));
}

.poll-box{
  width: 75%;
  height: 100%;
  margin: 0 auto 0 auto;
  background-color: white;
  padding: 20px 20px 5px 20px;
  display: flex;
  flex-direction: column;
}

.poll-box .box-title-bar {
  align-items: center;
  white-space: normal;
  overflow-wrap: break-word;
}

.poll-box .box-title-bar > button {
  padding: 15px 10px 15px 10px;
}

.poll-box .box-title-bar > button:hover {
  transform: scale(1.1);
}

.poll-results {
  border: 1px solid grey;
  border-radius: 20px;
  margin-top: 10px;
  flex-basis: 45%;
  flex-grow: 2;
}

.poll-graph {
  display: flex;
  height: 100%;
  padding: 10px;
  justify-content: space-around;
  overflow-x: auto;
}

.poll-graph-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100px;
  max-width: 200px;
  height: 100%;
}

.poll-choices {
  margin-top: 10px;
  flex-basis: 45%;
  flex-grow: 2;
  overflow: auto;
  padding-bottom: 10px;
}

.poll-option-btn {
  width: 100%;
  background-color: var(--bg-gradient-start);
  color: white;
  border: 0;
  padding: 20px;
  margin-top: 4px;
  border-radius: 4px;
}

.poll-option-btn:hover {
  background-color: purple;
}

/******************************Home************************/
.home {
  height: 100%;
  display: flex;
  background-image: linear-gradient(to bottom right, var(--bg-gradient-start), var(--bg-gradient-end));
  overflow: auto;
}

.side-nav-bar {
  background-color: white;
  flex-basis: 15%;
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.side-nav-bar > button {
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  background-color: white;  
}

.side-nav-bar > button:hover {
  background-color: var(--bg-gradient-end);
}

.dashboard {
  flex-basis: 85%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.top-bar{
  flex-basis: 10%;
  background-color: white;
  border: 1px solid black;
  display: flex;
}

.profile-details {
  flex-basis: 30%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.profile-details .user-pic {
  width: 50px;
  height: 50px;
  margin: 0;
}

.profile-details h3 {
  margin-right: 20px;
}

.user-polls-list {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-polls-table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-polls-headers {
  background-color: var(--bg-gradient-start);
  flex-basis: 10%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid white;
  color: white;
}

.user-polls-grid {
  flex-basis: 90%;
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-polls-grid > button {
  text-align: center;
  background-color: transparent;
  border: 0;
  font-size: 1.4em;
  font-weight: bolder;
}

.user-polls-grid > button:hover {
  font-size: 1.6em;
}

.user-polls-grid > h3 {
  text-align: center;
  align-self: center;
}

.user-polls-headers > h2 {
  width: 100%;
  text-align: center;
}

.content-list {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.content-list-title {
  flex-basis: 15%;
  border-bottom: 2px solid grey;
  padding: 10px;
}

.content-list-content {
  flex-basis: 85%;
}

/******************************Responsive Design************************/
@media screen and (max-width: 750px) {
    .auth-anim-sec {
      display: none;
    }

    .auth-box {
      width: 100%;
    }

    .auth-creds-sec input {
      padding-left: 2px;
      padding-right: 2px;
    }

    .profile-box h2 {
      margin-top: 15px;
    }

    .poll-box .box-title-bar > h1 {
      font-size: 24px;
      align-self: center;
      margin-left: 2px;
      margin-right: 2px;
    }

    .poll-box .box-title-bar > button {
      padding: 10px;
    }

    .poll-graph{
      justify-content: flex-start;
    }

    .home > button {
      font-size: 12px;
    }
}